[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
typogrify = "*"
beautifulsoup4 = "*"
markdown = "==3.4.4"
ghp-import = "*"
pelican-sitemap = "*"

[dev-packages]

[requires]
python_version = "3.11"
